/*Changes font, and background color of whole page*/
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightgray;
}

/*Centers all text*/
div > h2,
p,
.readme-wrapper {
  text-align: center;
}

/*Changes color of unvisited links and removes underline*/
a:link {
  color: red;
  text-decoration: none;
}

/*Changes color of visited links*/
a:visited {
  color: green;
}

/*Changes color of links when moused over*/
a:hover {
  cursor: pointer;
  font-weight: bold;
  color: purple;
}

/*Changes color of text and makes text bold*/
span {
  color: crimson;
  font-weight: bold;
}

/*modifies display to block adds a margin, adds padding, adds a solid border with a custom color, adds a border radius to round the edges of the border, adds a width of 30em*/
.boxes {
  display: block;
  margin: 1px;
  padding: 1px;
  border-style: solid;
  border-color: darkgreen;
  border-radius: 5%;
  width: 30em;
}

/*adds new background color to boxes*/
#box1,
#box2,
#boxN {
  background-color: black;
  color: white;
}

/*gives height, width, rounds border, adds background color*/
.art {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background-color: white;
  position: absolute;
  left: 4%;
}

/*Adds color to text*/
h1 {
  color: crimson;
}
